# Specific files
.DS_store
local.properties
*.apk
*.ap_
*.iml
ant.properties
build.xml
proguard.cfg
.metadata

# dirs
out/
gen/
bin/

compiler.xml
gradle.xml
misc.xml
vcs.xml
encodings.xml
scope_settings.xml
modules.xml
